* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#form_product {
	width: 700px;
	margin: 0 auto;
	margin-top: 50px;
	padding: 20px 50px;
	display: flex;
	flex-direction: column;
	background-color: rgba(68, 137, 190, 0.452);
	border-radius: 10px;
}

.products {
	width: 750px;
	margin: 0 auto;
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.result {
	width: 750px;
	margin: 0 auto;
	margin-top: 20px;
}
.card {
	border: 2px solid black;
	border-radius: 2px;
	width: 230px;
	height: 230px;
	padding: 45px 20px;
	margin-top: 50px;
}

input {
	margin-bottom: 15px;
	padding: 10px 10px;
	font-size: 20px;
}

.form_btn {
	position: relative;
	width: 200px;
	padding: 10px;
	font-size: 20px;
	margin: 0 auto;
	background-color: rgba(107, 207, 174, 0.778);
	color: aliceblue;
	border-radius: 10px;
	border: none;
}

.title_card {
	font-size: 25px;
	margin-bottom: 25px;
}

.price_card {
	font-size: 20px;
	margin-bottom: 25px;
}

.count_card {
	font-style: 18px;
}

.form_btn::after {
	position: absolute;
	content: '';
	top: 10px;
	left: 0;
	right: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	transform: scale(0.9) translateZ(0);
	filter: blur(15px);
	background: linear-gradient(
		to left,
		#ff5770,
		#e4428d,
		#c42da8,
		#9e16c3,
		#6501de,
		#9e16c3,
		#c42da8,
		#e4428d,
		#ff5770
	);
	background-size: 200% 200%;
	animation: animateGlow 1.25s linear infinite;
}
@keyframes animateGlow {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 200% 50%;
	}
}
